.landing-container {
    padding: 5rem 7rem;
    display: flex;
    border-top: 1px solid #E5E5E5;
}

.landing-app-name {
    margin: 2rem 0 1.5rem 7rem;
}

.hero-container {
    width: 60%;
    border-right: 1px solid #E5E5E5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.hero-video {
    width: 45.5rem;
    border-radius: 20px;
    border: 1px solid #E5E5E5;
}

.login-container {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}