.edit-game-form {
    display: flex;
    flex-direction: column;
    padding: 1rem 5rem;
    border: 3px solid #1FC2FF;
    gap: 1rem;
    border-radius: 20px;
}

.form-input {
    border: none;
    border-bottom: 3px solid #1FC2FF;
    outline: none;
    padding: 0.5rem 0;
    font-size: 1rem;
}

.account-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 7rem;
}

.account-form-container h1 {
    text-align: center;
    margin-bottom: 0.5rem;
}

.account-nav-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 1rem;
}

.account-form button,
.account-form input {
    width: 15rem;
}

.account-form-nav:hover {
    text-decoration: underline;
    cursor: pointer;
}

.success {
    color: #58CC02;
    margin: 0;
}

.select-option {
    margin: 0 !important;
}