.round {
    display: flex;
    margin: 1rem 0 0 2.5rem;
    gap: 2rem;
    align-items: flex-start;
}

.answers {
    display: flex;
    justify-content: space-around;
    width: 50rem;
    padding: 0.5rem 0;
    border-radius: 3px;
}

.answers:hover {
    cursor: pointer;
    background-color: #E5E5E5 !important;
}

.round-controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
}

.cards-control {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.start-note {
    margin-left: 6rem;
    color: #737373;
}