.round {
    display: flex;
    margin: 1rem 0 0 2.5rem;
    gap: 2rem;
}

.answers {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    width: 750px;
}

.answers:hover {
    cursor: pointer;
    background-color: grey !important;
}

.card {
    background-color: #212529;
    border: 1px solid white;
    border-radius: 3px;
    margin: 1rem 0;
}

.card img {
    width: 15rem;
    height: 10rem;
    object-fit: cover;
}

.card h3,
.card p {
    padding-left: 1rem;
}