.round {
    display: flex;
    margin: 1rem 0 0 2.5rem;
    gap: 2rem;
    align-items: flex-start;
}

.answers {
    display: flex;
    justify-content: space-between;
    width: 750px;
}

.answers:hover {
    cursor: pointer;
    background-color: grey !important;
}

.round-controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
}

.cards-control {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}