.card {
    background-color: #fff;
    border: 1px solid white;
    border-radius: 3px;
    margin: 1rem 0;
    width: 15rem;
}

.img-container {
    width: 100%;
    height: 10rem;
    border-bottom: 1px solid #E5E5E5;
}

.card img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.card h3,
.card p {
    padding-left: 1rem;
}

.gameplay-card {
    margin-bottom: 0 !important;
}