.gameplay-container {
    padding: 0 7rem;
    margin-bottom: 5rem;
}

.gameplay-container i {
    cursor: pointer;
}

.game {
    display: flex;
}

.game-name {
    padding: 0 1rem;
}

.add-round {
    border-top: 1px solid #E5E5E5;
    padding: 1rem;
    display: flex;
    justify-content: center;
    width: 48rem;
    margin: 1rem 0 0 5rem;
}

.add-round input {
    width: 11rem;
    margin-right: 1rem;
}

.game-header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}