.game-name {
    margin-left: 1rem;
}

.game {
    display: flex;
}

.add-round {
    border-top: 1px solid white;
    padding: 1rem;
    display: flex;
    width: 750px;
    margin: 1rem 0 0 5rem;
}

.add-round input {
    width: 5rem;
    margin-right: 1rem;
}

.game-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}