.container {
    padding: 0 21rem;
    margin-bottom: 5rem;
}

.games-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.create-btn {
    background-color: #1CB0F6;
    border: none;
    color: #fff;
    padding: 0.75rem 3rem;
    font-family: inherit;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    box-shadow: 0 4px 0 #1AA8EB;
    font-weight: bold;
}

.create-btn:hover {
    background-color: #1FC2FF;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 1px solid #E5E5E5;
    border-radius: 20px;
    padding: 2rem 0;
    margin-bottom: 2rem;
}

.game-container h3 {
    margin: 0;
}

.game-container p {
    margin: 0;
    font-size: 0.9rem;
}

.game-list-controls {
    display: flex;
    gap: 2rem;
}

.game-container i {
    cursor: pointer;
}

.game-item:hover {
    cursor: pointer;
    text-decoration: underline;
    width: fit-content;
}

.check-btn {
    color: #58CC02;
}

.delete-btn {
    color: #FF4B4B;
    cursor: pointer;
}

.edit-btn {
    color: #1FC2FF;
}