.container {
    padding: 0 7rem;
}

.games-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-btn {
    background-color: #1CB0F6;
    border: none;
    color: #fff;
    padding: 0.75rem 3rem;
    font-family: inherit;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    box-shadow: 0 4px 0 #1AA8EB;
    font-weight: bold;
}

.create-btn:hover {
    background-color: #1FC2FF;
}

.game-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.game-item:hover {
    cursor: pointer;
    text-decoration: underline;
    width: fit-content;
}