.header {
    display: flex;
    justify-content: space-between;
    padding: 0 7rem;
    border-bottom: 1px solid #E5E5E5;
}

.app-name {
    color: #58CC02;
    font-size: 1.5rem;
    font-weight: bolder;
}

.user {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
}

.nav-link i {
    font-size: 1.25rem;
}

.nav-link p {
    cursor: pointer;
}

.nav-link:hover {
    color: #737373;
}

.profile-pic {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    object-fit: cover;
}

.profile-info {
    background-color: #FFFFFF;
    position: absolute;
    right: 7.5rem;
    top: 4.5rem;
    padding: 1.5rem 2.5rem;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    z-index: 2;
}

.edit-account-btn {
    color: #1FC2FF;
    cursor: pointer;
    font-weight: bold;
    width: fit-content;
    font-size: 1rem !important;
}

.profile-info h5 {
    margin: 0;
    font-size: 1.1rem;
}

.profile-info p {
    margin: 0;
    font-size: 0.9rem;
}

.sign-out-btn {
    color: #FF4B4B;
    cursor: pointer;
    font-weight: bold;
    width: fit-content;
    font-size: 1rem !important;
}

.sign-out-btn:hover,
.edit-account-btn:hover {
    text-decoration: underline;
}