.header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.user {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.profile-pic {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    object-fit: cover;
}