.wide-container {
    padding: 0 7rem;
}

.cards-title {
    text-align: center;
    margin-bottom: 0;
}

.sort-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 1rem 0;
}

.sort-container h4 {
    margin: 0;
}

.sort-container p {
    cursor: pointer;
}

.active-category {
    text-decoration: underline;
}

.card-list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    margin: 0 0 0.5rem 0;
    width: 15rem;
}

.img-container {
    width: 100%;
    height: 10rem;
}

.card img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card h3 {
    margin: 0;
    padding: 1rem 0 0 1rem;
}

.card p {
    margin: 0;
    padding: 0.5rem 0 1rem 1rem;
    font-size: 0.9rem;
}