.wide-container {
    padding: 0 7rem;
    margin-bottom: 5rem;
}

.wide-container i {
    cursor: pointer;
}

.cards-title {
    text-align: center;
    margin-bottom: 0;
}

.sort-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 1rem 0;
}

.sort-container h4 {
    margin: 0;
}

.sort-container p {
    cursor: pointer;
}

.active-category {
    text-decoration: underline;
}

.category:hover {
    text-decoration: underline;
}

.create-card {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 15.6rem;
}

.create-card i {
    font-size: 3rem;
}

.create-my-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.25rem 0;
    height: 15.1rem;
}

.create-my-card input {
    width: 12rem;
    margin: 0;
}

.create-my-card button {
    height: 2rem;
}

.card-list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border: 1px solid #E5E5E5 !important;
    border-radius: 10px;
    margin: 0 0 0.5rem 0;
    width: 15rem;
    position: relative;
}

.delete-card-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

.confirm-delete-card {
    position: absolute;
    bottom: 0;
    right: 1rem;
}

.img-container {
    width: 100%;
    height: 10rem;
}

.card img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card h3 {
    margin: 0;
    padding: 1rem 0 0 1rem;
}

.card p {
    margin: 0;
    padding: 0.5rem 0 1rem 1rem;
    font-size: 0.9rem;
}