.register-container {
    border-top: 1px solid #E5E5E5;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.register-form {
    width: 30rem !important;
}

.warning {
    color: #FF4B4B;
    margin: 0;
}

.register-form input {
    width: 15rem;
}

.register-form button {
    width: 12.5rem;
}