.game-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 21rem;
    gap: 2rem;
}

.create-progress {
    display: flex;
    justify-content: center;
    gap: 5rem;
    width: 100%;
    margin-left: 2rem;
}

.create-progress i {
    color: #d5d5d5;
}

.game-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    border: 3px solid #1FC2FF;
    border-radius: 20px;
    padding: 2rem;
}

.game-form h3 {
    margin: 0;
}

.teams-amount {
    display: flex;
    justify-content: space-between;
    width: 4rem;
    padding: 0.5rem;
}

.teams-amount i {
    font-size: 1.5rem;
    cursor: pointer;
}

.game-preview {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-left: 4.5rem;
}

.game-name-preview {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.answer-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
}

.answer-form-container p {
    margin: 0;
}

.answer-forms {
    display: flex;
    justify-content: space-between;
}

.answer-form {
    display: flex;
    flex-direction: column;
}

.answer-form-container button {
    width: 10rem;
}