.game-form {
    background-color: grey;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20rem;
}

label {
    margin-right: 1rem;
}

.form-container {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.game-preview {
    padding: 1rem;
    border: 1px solid white;
    width: 20rem;
}

.answer-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.answer-forms {
    display: flex;
    justify-content: space-between;
}

.answer-form {
    display: flex;
    flex-direction: column;
}

.answer-form-container button {
    width: 10rem;
}