.login-form {
    margin: 0;
    padding: 0;
    width: 24.75rem !important;
}

.login-form h2 {
    margin: 0 0 0.25rem 0;
}

.register-btn-container {
    border-top: 1px solid #E5E5E5;
    padding: 1rem 0;
    margin-top: 1rem;
}

.register-btn {
    background-color: #58CC02;
    box-shadow: 0 4px 0 #4fb402;
    margin: 0.5rem 0 0 0;
}

.register-btn:hover {
    background-color: #64d70c;

}